<div class="row">
  <div class="col-xs-12">
    <img [src]="recipe?.imagePath" alt="" srcset="" class="img-responsive" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe?.name }}</h1>
  </div>
</div>

<div class="btn-group" role="group">
  <button
    id="btnGroupDrop1"
    type="button"
    class="btn btn-primary dropdown-toggle"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="true"
    appDropdown
  >
    Manage Recipe
  </button>
  <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
    <a class="dropdown-item" (click)="addToShoppingList()">To Shopping List</a>
    <a class="dropdown-item" (click)="onEditRecipe()">Edit Recipe</a>
    <a class="dropdown-item" (click)="onDelete()">Delete Recipe</a>
  </div>
</div>
<div class="row">
  <h6>Description</h6>
  <div class="col-xs-12">{{ recipe?.description }}</div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h6>Ingredients</h6>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let ingredient of recipe?.ingredients"
      >
        {{ ingredient.name }} - ({{ ingredient.amount }})
      </li>
    </ul>
  </div>
</div>
